{% extends 'main.html' %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Kitty shop</title>
    {% bootstrap_css %}
  

</head>
{% block content %}


<div class="container text-white pt-5">
    <div class="p-5 m-5">
        <div class="col-md-6 mx-auto pt-4 bg-dark">
            <h3 class="text-white text-center pb-2">Login to your account</h3>
            <form  method="POST" class="bg-dark">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }} 
                </div>
                <div class="form-group pb-5">
                    <input type="submit" value="login" class="btn btn-primary mt-1 mr-2 mb-3 ">
                    <a href="{% url 'register' %}">Signup</a> Instead!
                </div>
            </form>
        </div>
    </div>
</div>
    {% bootstrap_javascript %}
</body>
</html>
{% endblock %}